<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="recipe.name"
      class="img-fluid"
      style="height: 400px; width: 100%; object-fit: cover"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group" ngbDropdown>
      <button type="button" class="btn btn-primary" ngbDropdownToggle>
        Manage Recipe
      </button>
      <ul ngbDropdownMenu>
        <li>
          <a
            ngbDropdownItem
            (click)="onAddToShoppingList()"
            style="cursor: pointer"
            >To Shopping List</a
          >
        </li>
        <li>
          <a ngbDropdownItem style="cursor: pointer" (click)="onEditRecipe()"
            >Edit Recipe</a
          >
        </li>
        <li><a ngbDropdownItem style="cursor: pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let i of recipe.ingredients">
        {{ i.name }} - {{ i.amount }}
      </li>
    </ul>
  </div>
</div>
