<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row mb-3">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            [(ngModel)]="ingredientName"
          />
        </div>
        <div class="col-sm-5 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            name="amount"
            id="amount"
            class="form-control"
            [(ngModel)]="ingredientNumber"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success me-2"
            (click)="onAddIngredient()"
          >
            Add
          </button>
          <button type="submit" class="btn btn-danger me-2">Delete</button>
          <button type="submit" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
